[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=william
Environment=DISPLAY=:0
ExecStart=/home/william/.scripts/screen-locker.sh

[Install]
WantedBy=sleep.target
